akismet
classic-editor
fluent-smtp
lightspeed-cache
login-recaptcha
newsletter
query-monitor
redirection
redis-cache
simple-cloudflare-turnstile
ssl-insecure-content-fixer
user-role-editor
wordpress-importer
wp-fastest-cache
wp-fastest-cache-premium
wp-mail-smtp-pro